/* CUSTOM-PROPS */
:root{
  --main-dark-font-color:#000;
  --main-light-font-color:#fff;
}

/* GLOBAL */
html{
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 15px;
  line-height: 1.7;
  font-family: 'Josefin Sans',"Arial", sans-serif;
  background-color: #fff;
  color: var(--main-light-font-color);
}

*:focus{
  outline: 2px dashed var(--main-light-font-color);
  outline-offset: 3px;
}

img{
  max-width: 100%;
  height: auto;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

/* CONTAINER */
.container{
  width: 100%;
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* MAIN-CONTENT */
.main-content{
  flex-grow: 1;
}

/* HERO-WRAPPER */

.hero-wrapper{
  background-image: url("../img/hero-bg-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

/* SITE-HEADER */


.site-hader {
  padding-top: 64px;
  padding-bottom: 64px;
}

.site-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header-logo {
  display: flex;
  margin-right: auto;
}

.site-header-logo:hover{
  opacity: 0.8;
}

.site-header-logo:hover{
  opacity: 0.6;
}

.site-header-logo-img {
  width: 192px;
  height: 32px;
  object-fit: contain;
}

.sitenav-list {
  margin: 0;
  padding-left: 0;
  display: flex;
}

.sitenav-item:not(:last-child) {
  margin-right: 32px;
}

.sitenav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
  font-family: "Alata","Arial", sans-serif ;
  color: var(--main-light-font-color);
}

.sitenav-link::after{
  content: "";
  margin-top: 8px;
  display: inline-block;
  width: 24px;
  height: 2px;
  background-color: transparent;
  transition: border-color 0.4s ease;
}

.sitenav-link:hover:after{
  background-color:var(--main-light-font-color);
}

/* HERO */


.hero-inner {
  padding-top: 66px;
  padding-bottom: 146px;
}

.hero-contentn {
  border: 2px solid var(--main-light-font-color);
  width: 650px;
}

.hero-heading {
  padding: 40px;
  margin: 0;
  font-size: 72px;
  line-height: 70px;
  font-weight: 300;
}

/* BANNERS */

.banners {
  margin-top: 160px;
  margin-bottom: 184px;
  color: var(--main-dark-font-color);
}

.banners-inner {
  padding-top: 180px;
  padding-left: 570px;
  background-image: url("../img/vr-glasses.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.banner-content {
  width: 540px;
  padding-top: 96px;
  padding-left: 96px;
  background-color: #fff;
}

.banner-title {
  margin-top: 0;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 300;
  line-height: 1;
}
.banner-text{
  margin: 0;
}
/* CREATIONS */

.creations {
  margin-bottom: 154px;
}

.creations-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
}

.creations-title {
  margin: 0;
  font-size: 48px;
  font-weight: 300;
  line-height: 1;
  color: var(--main-dark-font-color);
}

.creation-top-link{
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  color: var(--main-dark-font-color);
  border: 1px solid var(--main-dark-font-color);
  display: inline-block;
  padding: 13px 40px;
}

.creation-top-link:hover{
  background-color: var(--main-dark-font-color);
  color: var(--main-light-font-color);
}

.creations-list {
  padding: 0;
  margin: 0;
  margin-left: -30px;
}

.creations-item {
  width: 256px;
  height: 450px;
  margin-bottom: 30px;
  margin-left: 25px;
  display: inline-block;
  background-image: url("../img/earth.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.creations-link{
  display: inline-block;
  border: 0;
  width: 256px;
  height: 450px;
  font-size: 32px;
  font-weight: 300;
  line-height: 1;
  color: var(--main-light-font-color);
  transition: background-color 0.4s ease;
}

.creations-link:hover{
  background-color: rgba(255, 255, 255, 0.75071);;
}

.creations-name{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 354px;
  padding-left: 40px;
  padding-right: 47px;
}

.creations-item:nth-child(2){
  background-image: url("../img/arcade.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.creations-item:nth-child(3){
  background-image: url("../img/footbal_player.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.creations-item:nth-child(4){
  background-image: url("../img/grid.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.creations-item:nth-child(5){
  background-image: url("../img/road.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.creations-item:nth-child(6){
  background-image: url("../img/borealis.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.creations-item:nth-child(7){
  background-image: url("../img/curiosity.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.creations-item:last-child{
  background-image: url("../img/fisheye.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}


/* FOOTER */

.site-footer {
  padding-top: 44px;
  padding-bottom: 44px;
  background-color: var(--main-dark-font-color);
}

/* footer-top */

.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.site-footer-logo {
  display: flex;
  justify-content: start;
  transition: opacity 0.4s ease;
}

.site-footer-logo:hover{
  opacity: 0.8;
}

.site-footer-logo:hover{
  opacity: 0.6;
}

.site-footer-logo-img {
  width: 144px;
  height: 24px;
  object-fit: fill;
}

.social-list {
  padding-left: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.social-item:not(:last-child){
  margin-right: 16px;
}

.social-link {
  display: flex;
  padding-bottom: 8px;
  transition: border-color 0.4s ease;
  border-bottom: 2px solid transparent;
}

.social-link:hover{
  border-color: var(--main-light-font-color);
}

.social-img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

/* footer-bottom */

.footer-bottom {
  display: flex;
  align-items: center;
}

.copyright {
  font-family: "Alata","Arial", sans-serif ;
  margin-left: auto;
}


/* BACKGROUND-IMAGE FOR RETINA SCREENS */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .hero-wrapper{
    background-image: url("../img/hero-bg-img@2x.jpg");
  }
  .banners-inner {
    background-image: url("../img/vr-glasses@2x.jpg");
  }
  .creations-item {
    background-image: url("../img/earth@2x.jpg");
  }
  .creations-item:nth-child(2){
    background-image: url("../img/arcade@2x.jpg");
  }
  .creations-item:nth-child(3){
    background-image: url("../img/footbal_player@2x.jpg");
  }
  .creations-item:nth-child(4){
    background-image: url("../img/grid@2x.jpg");
  }
  .creations-item:nth-child(5){
    background-image: url("../img/road@2x.jpg");
  }
  .creations-item:nth-child(6){
    background-image: url("../img/borealis@2x.jpg");
  }
  .creations-item:nth-child(7){
    background-image: url("../img/curiosity@2x.jpg");
  }
  .creations-item:last-child{
    background-image: url("../img/fisheye@2x.jpg");
  }
}