/* CUSTOM-PROPS */
:root{
  --main-dark-font-color:#000;
  --main-light-font-color:#fff;
}

/* GLOBAL */
html{
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 15px;
  line-height: 1.7;
  font-family: 'Josefin Sans',"Arial", sans-serif;
  background-color: #fff;
  color: var(--main-light-font-color);

}

img{
  max-width: 100%;
  height: auto;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

/* CONTAINER */
.container{
  width: 100%;
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* MAIN-CONTENT */
.main-content{
  flex-grow: 1;
}

/* HERO-WRAPPER */

.hero-wrapper{
  background-image: url("../img/hero-bg-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

/* SITE-HEADER */


.site-hader {
  padding-top: 64px;
  padding-bottom: 64px;
}

.site-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header-logo {
  display: flex;
  margin-right: auto;
}

.site-header-logo:hover{
  opacity: 0.8;
}
.site-header-logo:active{
  opacity: 0.6;
}

.site-header-logo-img {
  width: 192px;
  height: 32px;
  object-fit: contain;
}

.sitenav-list {
  margin: 0;
  padding-left: 0;
  display: flex;
}
.sitenav-item:not(:last-child) {
  margin-right: 32px;
}
.sitenav-link {
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: nowrap;
  font-family: "Alata","Arial", sans-serif ;
  color: var(--main-light-font-color);
  border-bottom: 2px solid transparent;
  transition: border-color 0.4s ease;
}

.sitenav-link:active{
  border-color: var(--main-light-font-color);
}


/* HERO */


.hero-inner {
  padding-top: 66px;
  padding-bottom: 146px;
}

.hero-contentn {
  border: 2px solid var(--main-light-font-color);
  width: 650px;
}
.hero-heading {
  padding: 40px;
  margin: 0;
  font-size: 70px;
  line-height: 1;
  font-weight: 300;

}
/* BACKGROUND-IMAGE FOR RETINA SCREENS */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .hero-wrapper{
    background-image: url("../img/hero-bg-img@2x.jpg");
  }
}